<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/halfmoon@2.0.2/css/halfmoon.min.css" rel="stylesheet" integrity="sha256-RjeFzczeuZHCyS+Gvz+kleETzBF/o84ZRHukze/yv6o=" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/halfmoon@2.0.2/css/cores/halfmoon.modern.css" rel="stylesheet" integrity="sha256-DD6elX+jPmbFYPsGvzodUv2+9FHkxHlVtQi0/RJVULs=" crossorigin="anonymous">
</head>
<body>
{% include "navbar.html" %}

<div class="container-lg">
{% for notification in notifications %}
    {% if notification.target == "all" or notification.target == currentUser %}
    {% if notification.userDisabled %}
    {% set type = "alert-dismissible" %}
    {% endif %}
    <div class="alert alert-{{notification.color}} {{type}} fade show" style="margin-top:10px" role="alert">
    {{notification.text}}
    {% if notification.userDisabled %}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    {% endif %}
    </div>
    {% endif %}
{% endfor %}
  <h1>Printer Dashboard</h1>
  <div class="row">
    {% for printer in printers %}
    <div class="col-7 col-sm-4" style="padding:10px">{% include "mk3_card.html" %}</div>
    {% endfor %}
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha256-CDOy6cOibCWEdsRiZuaHf8dSGGJRYuBGC+mjoJimHGw=" crossorigin="anonymous"></script>
</body>
</html>