<div class="modal fade" id="submit-print" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modal-title-2" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modal-title-2">Submit Print Job</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="/print" method="post">
      <input type="hidden" name="printercode" value="{{printer.code}}">
      <input type="hidden" name="creator" value="{{currentUser}}">
      <div class="modal-body">
        <div class="container-md">
          <div class="mb-3">
          <label class="form-label" for="nickname">Print Name</label>
          <input type="text" class="form-control" id="nickname" name="nickname" required placeholder="Print Name" required>
          </div>
          <div class="input-group mb-3">
            <input class="form-control" placeholder="Print GCODE" type="file" accept=".gcode" id="url" required>
          </div>
      </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-primary">Send to {{ printer.nickname }}</button>
      </div>
     </form>
    </div>
  </div>
</div>